.inputField {
    label {
        font-size: 14px;
        text-align: left;
        color: #000;
        width: 360px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        span {
            display: flex;
            justify-content: space-between;
            margin-left: 2px;
        }

        .strongemail {
            font-size: 12px;
            color: var(--green);
        }

        input {
            line-height: 21px;
            flex-grow: 0;
            margin: 6px 0 0;
            padding: 9px 15px 8px 15px;
            border-radius: 6px;
            
            border: solid 1px #999;

            font-family: "Poppins", sans-serif;
            font-size: 15px;
            font-weight: 500;
            color: var(--dark-gray);
            &:focus {
                border-color: #5c90f3;
                outline: none;
            }
        }

    }
    &.black {
        input {
            border-color: #000;
        }
    }
}
