.button {
    font-family: "Poppins", sans-serif;
    padding: 6px 20px;
    border-radius: 6px;
    background-color: #f1f1f1;
    color: #999;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    &.primary {
        background-color: #46b13d;
        color: #fff;
    }
    &.big {
        background-color: #ebf2ff;
        font-size: 16px;
        color: #3860ad;
        padding: 12px;
    }
    &.big-disabled {
        padding: 9px 30px;
        background-color: transparent;
        color: #1c7714;
        font-size: 20px;
        width: 100%;
    }
    &.light-error {
        background-color: transparent;
        color: #ee6363;
        font-size: 15px;
        font-weight: 500;
    }
    &:disabled {
        cursor: default;
    }

}

.checkbox-button {
    input {
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
    }
    > span {
        background: #fff;
        padding: 3px 13px;
        border-radius: 6px;
        border: solid 1px #999;
        font-size: 14px;
        color: #999;
        cursor: pointer;
    }

    &.checked {
        > span {
            border-color: #3860ad;
            color: #3860ad;
        }
    }
}

.pills {
    background: transparent;
    padding: 3px 13px;
    border-radius: 6px;
    border: solid 1px #999;
    font-size: 12px;
    color: #999;
    margin: 0 5px;
    font-family: 'Roboto', sans-serif;
}