.button {
    font-family: var(--font-family);
    padding: 6px 20px;
    border-radius: 6px;
    background-color: var(--background-button);
    color: var(--text-button);
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    &.primary {
        background-color: var(--green);
        color: var(--white);
    }
    &.big {
        background-color: var(--background-color);
        font-size: 16px;
        color: var(--text-secondary-color);
        padding: 12px;
    }
    &.big-disabled {
        padding: 9px 30px;
        background-color: transparent;
        color: var(--dark-green);
        font-size: 20px;
        width: 100%;
    }
    &.light-error {
        background-color: transparent;
        color: var(--red);
        font-size: 15px;
        font-weight: 500;
    }
    &:disabled {
        cursor: default;
    }

}

.checkbox-button {
    input {
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
    }
    > span {
        background: var(--white);
        padding: 3px 13px;
        border-radius: 6px;
        border: solid 1px var(--text-button);
        font-size: 14px;
        color: var(--text-button);
        cursor: pointer;
    }

    &.checked {
        > span {
            border-color: var(--text-secondary-color);
            color: var(--text-secondary-color);
        }
    }
}

.pills {
    background: transparent;
    padding: 3px 13px 2px;
    border-radius: 6px;
    border: solid 1px var(--text-button);
    font-size: 12px;
    color: var(--text-button);
    margin: 0 2px;
    font-family: var(--secondary-font-family)
}