.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 11px;
    grid-row-gap: 15px;

    &__item {
        img {
            width: 100%;
            max-width: 100%;
            border-radius: 6px;
            border: solid 1px #e8e8e8;
        }
        h2 {
            margin: -2px 0 0;
            font-size: 12px;
            font-weight: 500;
            color: var(--gray);
            text-align: center;
            line-height: 1;
            padding: 0;
        }
        &.active {
            img {
                border-color: var(--text-secondary-color);
            }
            h2 {
                color: var(--text-secondary-color);
            }
        }
    }
}

.list {
    &__item {
        display: flex;
        padding: 2px 10px 6px 16px;
        border-radius: 6px;
        background-color: #f1f1f1;
        border: solid 1px #f1f1f1;
        margin-bottom: 20px;
        align-items: center;

        &.active {
            border: solid 1px var(--text-secondary-color);
            background-color: #ebf2ff;
        }

        .play {
            margin-right: 17px;
            width: 40px;
            height: 40px;
            flex-basis: 40px;
            img {
                width: 40px;
                max-width: 40px;
            }
        }

        h2 {
            margin: 10px 0 -4px;
            font-size: 12px;
            font-weight: 500;
            color: var(--gray);
            text-align: left;
            line-height: 1;
            padding: 0;
        }
        img {
            max-width: 100%;
        }
    }
}

.align {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 22px;

    &__item {
        display: flex;
        padding: 13px 20px;
        border-radius: 6px;
        background-color: #f1f1f1;
        border: solid 1px #f1f1f1;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;

        &.active {
            border: solid 1px var(--text-secondary-color);
            background-color: #ebf2ff;
            span {
                color: var(--text-secondary-color);
            }
        }

        span {
            font-size: 16px;
            font-weight: 600;
            color: #999;
        }
    }
}
