.tabs {
    &__menu {
        list-style-type: none;
        margin: 0 0 29px;
        padding: 0;
        display: flex;

        @media screen and (max-width: 850px) {
            &:not(.nogrid) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 5px;
            }
        }

        li {
            cursor: pointer;
            font-size: 15px;
            font-weight: 500;
            color: var(--text-button);
            margin-right: 30px;
            &:last-child {
                margin: 0;
            }
            &.active {
                color: var(--text-secondary-color);
            }
        }
    }
}