.video {
    padding: 5px 5px 14px;
    border-radius: 6px;
    background-color: #f4f4f4;
    text-align: center;
    position: relative;

    .icon {
        position: absolute;
        top: 5px;
        right: 10px;
        margin: 0;
        span, span::after, span::before {
            background-color: #666666;
        }
    }

    img {
        max-width: 100%;
    }

    h2 {
        margin: 6px 0 13px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #222;
    }
}