.video {
    padding: 5px 5px 14px;
    border-radius: 6px;
    background-color: var(--background-video);
    text-align: center;
    position: relative;

    .icon {
        position: absolute;
        top: 10px;
        right: 13px;
        margin: 0;
        span, span::after, span::before {
            background-color: var(--gray);
        }
    }

    img {
        width: 100%;
        border-radius: 6px;
        height: auto;
    }

    h2 {
        margin: 5px 0 11px;
        font-family: var(--secondary-font-family);
        font-weight: 400;
        font-size: 16px;
        color: var(--text-primary-color);
    }
}