.title {
    display: flex;
    padding-bottom: 27px;
    padding-left: 9px;
    height: 32px;
    > div {
        display: flex;
        align-items: center;
    }
    h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 22px;
        color: #222;
        margin: 0;
        padding: 0;
    }
}