.title {
    display: flex;
    flex: 1;
    padding-bottom: 27px;
    padding-left: 9px;
    height: 32px;
    .title__view {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .title__arrow {
            display: flex;
            align-items: center;
        }
        // > div {
        //     display: flex;
        //     align-items: center;
        //     flex: 1;
        // }
    }
    h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 22px;
        color: var(--text-primary-color);
        margin: 0;
        padding: 0;
    }
}

.title__edit {
    position: absolute;
    width: 100%;
    > form {
        z-index: 99;
    }
    &::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(255 255 255 / 90%);
        z-index: 1;
    }
}

.form__title {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;

    input[type="text"] {
        padding: 0;
        font-size: 22px;
        font-weight: 500;
        color: var(--text-secondary-color);
        border-radius: 0;
        border: none;
        border-bottom: 1px solid var(--blue-light);
        font-family: "Poppins", sans-serif;
        &:focus-visible,
        &:focus {
            outline: none;
            border: none;
            border-bottom: 1px solid var(--text-secondary-color);
        }
    }

    textarea {
        margin-top: 21px;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid var(--text-secondary-color);
        font-family: "Poppins", sans-serif;
        color: var(--gray);
    }

    .tagselector {
        margin-top: 21px;

        label {
            margin-right: 10px;
        }
    }

    .submit {
        margin-top: 23px;

        input[type="submit"] {
            font-size: 14px;
            font-weight: 600;
            padding: 6px 20px;
            border: none;
            border-radius: 6px;
            background-color: var(--green);
            color: var(--white);
            line-height: 21px;
            cursor: pointer;
            display: inline-block;
            align-self: baseline;
        }
    }
}
