.page {
    padding: 0 38px;

    &.login::after {
        content: "";
        background: url('./background.png');
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 105% -10%;
        z-index: -1;
    }

    .form {
        margin: 160px auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .submit {
            margin-top: 10px;
        }
    }

    .signup_link {
        font-size: 13px;
        font-weight: 500;
        color: #222;
        text-align: center;
        margin-top: 63px;
    }
}

.editor {
    border-top: 1px solid rgb(0 0 0 / 10%);
    padding-top: 20px;
    display: grid;
    grid-template-columns: minmax(200px, 740px) 1fr;

    &__preview {
        margin-right: 20px;
    }
    &__choice {
        margin-left: 20px;
    }
}

.page__actions {
    button {
        margin-left: 20px;
    }
}

.video__container {
    border-top: 1px solid rgb(0 0 0 / 10%);
    padding: 37px 12px;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 300px));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
