.App {
  font-family: "Poppins", sans-serif;
  margin: 39px 0 40px;
  display: grid;
  grid-template-columns: 102px 1fr;
  // height: calc(100vh - (79px));

  a {
    color: #3860ad;
    font-weight: 500;
    text-decoration: none;
  }
}

.header {
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 69px);

  &__logo {
    margin-bottom: 53px;
    margin-top: 7px;
  }

  &__menu {
    flex: 1
  }

  &__user img {
    max-width: 46px;
  }
}
