.accordion {
    &__item {
            padding: 8px 14px 13px 15px;
            margin: 0 3px 2px;
            border-bottom: 1px solid rgb(0 0 0 / 10%);
            i.icon__arrow::after, i.icon__arrow::before {
                background-color: var(--text-button);
            }

        &.active {
            margin: 0 0 5px;
            padding: 16px 14px 13px 15px;
            border-radius: 6px;
            background-color: var(--background-color);
            border: none;
            .accordion__title {
                margin-bottom: 15px;
            }
            i::after, i::before {
                background-color: var(--text-secondary-color);
            }
            h2 {
                color: var(--text-secondary-color);
            }
        }
    }
    &__title {
        display: flex;
        
        justify-content: space-between;
        align-items: center;
        > h2 {
            font-size: 14px;
            font-weight: 500;
            color: var(--text-button);
            margin: 0;
            padding: 0;
        }
    }
}